<section class="wrapper">
  <h2 class="task-title">Task-2: Countdown Timer</h2>
  <p class="task-prompt">(*choose date and push button to start countdown)</p>

  <input type="date" id="date-selector" />
  <button class="btn" type="button" data-start>Start countdown</button>

  <div class="timer">
    <div class="field">
      <span class="value" data-days>11</span>
      <span class="label">Days</span>
    </div>
    <div class="field">
      <span class="value" data-hours>11</span>
      <span class="label">Hours</span>
    </div>
    <div class="field">
      <span class="value" data-minutes>11</span>
      <span class="label">Minutes</span>
    </div>
    <div class="field">
      <span class="value" data-seconds>11</span>
      <span class="label">Seconds</span>
    </div>
  </div>
</section>
